.movie-card {
    width: 300px;
    /* Set a fixed width */
    height: 400px;
    /* Set a fixed height */
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-between;
    /* Distribute content evenly */
    align-items: center;
    /* Center align content */
    overflow: hidden;
    /* Prevent overflow if content exceeds size */
    text-decoration: none;
    /* Remove link underlines */
    color: inherit;
    /* Ensure text inherits the desired color */
    background-color: rgb(255, 255, 255);
}


.movie-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
    margin: 0px;
    color: hsl(0, 0%, 20%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    /* Prevent wrapping */
    width: 100%;
    /* Ensure the ellipsis applies correctly */
    word-wrap: break-word;
}

.movie-rating {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 20%);
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px hsla(0, 0%, 0%, 0.2);
}

.movie-poster {
    width: 60%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.movie-no-poster {
    font-size: 14px;
    color: #999;
    text-align: center;
    margin-bottom: 8px;
}